# Send all responses in utf-8
AddDefaultCharset utf-8
# Allow directory browsing. USEFUL ONLY DURING DEVELOPMENT
Options +Indexes

# Use url rewriting. BE SURE YOU ENABLE rewrite_module in Apache 
RewriteEngine on

# Base directory for rewriting: URL OF YOUR PROJECT
RewriteBase /quiz-manager/pages/

# Rewriting rules (use regular expressions)
RewriteRule ^home$ home.php
RewriteRule ^sign_in$ login.php
RewriteRule ^sign_out$ login.php?action=disconnect

RewriteRule ^evaluation-(\d+)$ evaluation.php?id=$1
RewriteRule ^sheet-(\d+)$ sheet.php?quizId=$1
RewriteRule ^signup$ signup.php